<h1>Listing monuments (Collection Name: <%= @collection.name %>)</h1>

<%= render 'list_monuments' %>

<br>

<%= link_to 'New Monument', new_collection_monument_path %> |
<%= link_to 'Back to Collections', collections_path %>
